<nav id="primary-nav">
  <div id="inner-nav">
    <ul>
      <li><a href={`${import.meta.env.BASE_URL}`}>Syllabus</a></li>
      <li><a href={`${import.meta.env.BASE_URL}schedule`}>Schedule</a></li>
      <li>
        <details>
          <summary>Projects</summary>
          <div class="content">
            <ul>
              <li>
                <a href={`${import.meta.env.BASE_URL}projects/project-1`}
                  >1: Central PA Tourism Page
                </a>
              </li>
              <li>
                <a href={`${import.meta.env.BASE_URL}projects/project-2`}
                  >2: Instructional Site
                </a>
              </li>
              <li>
                <a href={`${import.meta.env.BASE_URL}projects/project-3`}
                  >3: Coffee Shop Website</a
                >
              </li>
              <li>
                <a href={`${import.meta.env.BASE_URL}projects/project-4`}
                  >4: Museum Website</a
                >
              </li>
            </ul>
          </div>
        </details>
      </li>
      <li>
        <details>
          <summary>Exercises</summary>
          <div class="content">
            <ul>
              <li>
                <a href={`${import.meta.env.BASE_URL}exercises/01`}>01</a>
              </li>

              <li>
                <a href={`${import.meta.env.BASE_URL}exercises/02`}>02</a>
              </li>

              <li>
                <a href={`${import.meta.env.BASE_URL}exercises/03`}>03</a>
              </li>

              <li>
                <a href={`${import.meta.env.BASE_URL}exercises/04`}>04</a>
              </li>
              <li>
                <a href={`${import.meta.env.BASE_URL}exercises/05`}>05</a>
              </li>
              <li>
                <a href={`${import.meta.env.BASE_URL}exercises/06`}>06</a>
              </li>
            </ul>
          </div>
        </details>
      </li>
      <li>
        Resources
        <ul>
          <li>
            <a href={`${import.meta.env.BASE_URL}resources/sitemap/`}>Sitemap</a
            >
          </li>
          <li>
            <a href={`${import.meta.env.BASE_URL}resources/wireframes`}
              >Wireframes</a
            >
          </li>
          <li>
            <a href={`${import.meta.env.BASE_URL}resources/images-icons/`}
              >Stock Images and Icons</a
            >
          </li>
          <li>
            <a href={`${import.meta.env.BASE_URL}resources/web-fonts/`}
              >Web Fonts</a
            >
          </li>
          <li>
            <a href={`${import.meta.env.BASE_URL}resources/flexbox/`}>Flexbox</a
            >
          </li>
          <li>
            <a href={`${import.meta.env.BASE_URL}resources/grid/`}>Grid</a>
          </li>
          <li>
            <a
              href={`${import.meta.env.BASE_URL}resources/component-libraries/`}
              >Component Libraries</a
            >
          </li>
          <li>
            <a href={`${import.meta.env.BASE_URL}resources/frameworks/`}
              >Frameworks</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href={`${import.meta.env.BASE_URL}ui-examples/`}>UI Examples</a>
      </li>
      <li>
        Lessons
        <ul>
          <li>
            <a href={`${import.meta.env.BASE_URL}lessons/getting-started/`}
              >Getting Started</a
            >
            <ul>
              <li>
                <a
                  href={`${import.meta.env.BASE_URL}lessons/getting-started/figma`}
                  >Figma</a
                >
              </li>
            </ul>
            <li>
              <a href={`${import.meta.env.BASE_URL}lessons/intro-html/`}
                >Introduction to HTML</a
              >
            </li>
            <li>
              <a
                href={`${import.meta.env.BASE_URL}lessons/working-with-images/`}
                >Working with Images</a
              >
            </li>
            <li>
              <a href={`${import.meta.env.BASE_URL}lessons/css-basics/`}
                >CSS Basics</a
              >
            </li>
          </li>
        </ul>
        <li>
          Tutorials
          <ul>
            <li>
              <a href=`${import.meta.env.BASE_URL}tutorials/navigation/`
                >Navigation</a
              >
            </li>
            <li>
              <a
                href=`${import.meta.env.BASE_URL}tutorials/responsive-navigation/`
                >Responsive Navigation</a
              >
            </li>
          </ul>
        </li>
      </li>
    </ul>
  </div>
  <style lang="scss">
    #primary-nav {
      transition: var(--transition);
      top: 120px;
      width: 300px;
      background-color: var(--lightGray);
      position: fixed;
      overflow-x: hidden;
      overflow-y: auto;
      z-index: 10;
      height: 100%;

      @media (max-width: 767px) {
        width: 0;
      }
    }
    #inner-nav {
      padding: 2em 2em 8em 2em;
      a:link,
      a:visited {
        color: var(--textColor);
      }
      a:hover {
        color: var(--blue);
      }

      & ul {
        margin: 0;
        padding: 0.5rem 0;
        font-size: 0.9em;
        margin-bottom: 2em;

        & > li {
          position: relative;
          list-style: none;
          font-weight: bold;
          margin-bottom: 0.5em;
          &:not(:last-child) {
            border-bottom: 1px solid var(--borderColor);
            padding-bottom: 0.5em;
          }

          &:last-child > ul {
            border-bottom: none;
            margin-bottom: 4em;
          }

          ul {
            margin: 0.5em 0 0 0;

            li {
              list-style: square;
              margin-left: 1em;
              font-weight: normal;
              border-bottom: none;
            }
          }
        }
      }
    }
    /* Details/Summary styles */
    summary {
      list-style: none;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    summary::after {
      content: "▼";
      transform: rotate(-90deg);
      margin-left: 0.5em;
      right: 0;
      position: absolute;
      transition: transform 0.2s ease;
    }
    details[open] summary::after {
      transform: rotate(0);
    }

    body.nav-open {
      overflow: hidden;
      #primary-nav {
        width: 100%;
      }
    }
  </style>
  <script is:inline src=`${import.meta.env.BASE_URL}scripts/accordion.js`
  ></script>
</nav>
