---
const title = "Examples";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>
  <p>Below are examples for commonly-requested UI layouts.</p>
  <ul>
    <li>
      <a href={`${import.meta.env.BASE_URL}examples/cards`}>Cards</a>
    </li>
    <li>
      <a href={`${import.meta.env.BASE_URL}examples/container/`}>Container </a>
    </li>
    <li>
      <a href={`${import.meta.env.BASE_URL}examples/hero/`}>Hero</a>
    </li>
    <li>
      <a href={`${import.meta.env.BASE_URL}examples/nav-with-logo/`}
        >Navigation with Logo
      </a>
    </li>
    <li>
      <a href={`${import.meta.env.BASE_URL}examples/link-borders/`}
        >Link Borders
      </a>
    </li>
    <li>
      <a href={`${import.meta.env.BASE_URL}examples/lightbox/`}>Lightbox </a>
    </li>
    <li>
      <a href={`${import.meta.env.BASE_URL}examples/link-highlight/`}
        >Link Highlight
      </a>
    </li>
    <li>
      <a href={`${import.meta.env.BASE_URL}examples/page-scroll/`}
        >Page Scroll
      </a>
    </li>
    <li>
      <a href={`${import.meta.env.BASE_URL}examples/perfect-centering/`}
        >Perfect Centering
      </a>
    </li>
    <li>
      <a href={`${import.meta.env.BASE_URL}examples/thumbnail/`}
        >Thumbnail with Hover
      </a>
    </li>
  </ul>
</Layout>
